

h1 {
  text-align: center;
  padding: 2%;
}

h2 {
  text-decoration: underline;
  padding: 2%;
}

#new_form {
  text-align: center;
  padding: 2%;
}

#item {
  padding: 2%;
}

#item_text {
  font-size: 150%;
  font-weight: bold;
}
